[submodule "Talenta-automation-project-phase-2-task_decomposition_and_planning"]
	path = Talenta-automation-project-phase-2-task_decomposition_and_planning
	url = https://github.com/Talenta-automation-project-phase-2/Talenta-automation-project-phase-2-task_decomposition_and_planning
